pkgbase = syntty
	pkgdesc = SynapseOS terminal — a Wayland terminal that links no GL
	pkgver = 0.1.0
	pkgrel = 37
	url = https://github.com/velle999/SYNAPSE
	arch = x86_64
	license = GPL-2.0-or-later
	makedepends = meson
	makedepends = ninja
	makedepends = gcc
	makedepends = wayland-protocols
	depends = glibc
	depends = freetype2
	depends = fontconfig
	depends = wayland
	depends = libxkbcommon
	source = syntty-0.1.0.tar.gz::https://github.com/velle999/syntty/releases/download/0.1.0-37/syntty-0.1.0.tar.gz
	sha256sums = SKIP

pkgname = syntty
